@import 'config.scss';

.ButtonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  color: #ffffffde;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: solid 1px rgb(0, 0, 0);
  @include shadowLG;
  &:hover {
    @include shadow2XL;

    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
  }
}
